<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/">
        <mat-icon>local_pizza</mat-icon>
    </button>
    <span class="logo" routerLink="/">
        Pizza App
    </span>
    <!--  routerLink is used as a part of RoutingModule, to tell Angular to use Angular routing instead of default browser routing, and navigate to /pizza-maker WITHOUT REFRESHING the page  -->
    <a mat-button routerLink="/pizza-maker">Kitchen</a>
    <a mat-button href="">Saved Pizzas</a>
    <a mat-button href="">Login</a>
    <a mat-button href="">Register</a>
    <a mat-button href="">Logout</a>
</mat-toolbar>

<!-- mat-toolbar: https://material.angular.io/components/toolbar/overview -->
<!-- mat-icon-button, mat-icon: https://material.angular.io/components/icon/overview -->
<!-- mat-button: https://material.angular.io/components/button/overview -->
