<mat-stepper [linear]="true">
    <mat-step [completed]="hasOrders">
        <ng-template matStepLabel>Choose ingredients</ng-template>
        <app-ingredients />
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Preview order</ng-template>
        <app-preview-order />
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Checkout</ng-template>
        <app-checkout />
    </mat-step>
</mat-stepper>

<!-- [linear]="true" is used to prevent users from skipping steps -->
<!-- [completed] is used to mark step as completed and enabling the user to go to the next step -->
<!-- mat-stepper, mat-step: https://material.angular.io/components/stepper/overview -->
