<h1>Ingredients:</h1>

<!-- selectionChange is an event that is triggered by Angular Material List Component  -->
<mat-selection-list (selectionChange)="onSelect($event)">
    <mat-list-option
        *ngFor="let ingredient of ingredients"
        [value]="ingredient"
        [selected]="selectedIngredients.includes(ingredient)"
    >
        {{ ingredient }}
    </mat-list-option>
</mat-selection-list>

<!-- mat-selection-list, mat-list-option: https://material.angular.io/components/list/overview -->
